.feature-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #1A1919;
    margin-top: 50px;
}


.job-feature-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}



/*------------------------------
     small device media query start
-------------------------------- */

@media only screen and (max-width:576px) {
    .job-feature-items{
        grid-template-columns: repeat(1, 1fr);
    }
}