.banner-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #1A1919;
}

.job-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-details-dec {
    padding: 20px;
}

/* .job-details-primary-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    text-align: left;
} */

.job-details-item {
    width: 400px;
}

