
.heater-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #1A1919;
}

.header-btn {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
}

.btn-login{
    margin-left: 10px;
}

.nav-picture{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}



.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.header-btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------
     small device media query start
-------------------------------- */

@media only screen and (max-width:576px) {
    .header-item{
        flex-direction: column;
    }
}